# Node modules
/node_modules/

# Build output
/dist/
/build/

# Environment variables
.env

# Logs
*.log

# IDE settings
.idea/
!.idea/dictionaries/
!.idea/dictionaries/team.dic
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data
/data/*
!/data/.gitkeep